*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top:0;
    padding:0;
    overflow-x: hidden;
}

.food-page{
    padding-top: 100px;
    width:100vw;
}

#Header{
    width:100vw;
    min-height: 350px;
    display:grid;
    grid-template-areas: 'stack';
}

#Header > *{
    grid-area: stack;
}

#Header > h1{
    position:absolute;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    top:150px;
    left:3%;
    font-family: "Nova Mono", monospace;
    font-weight: 800;
    font-style: normal;
}

#Header > p{
    position:absolute;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    top:200px;
    left:3%;
}

#Header > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    --parallax-speed: -0.5;
    animation: Parallax linear;
    animation-timeline: scroll();
}

@keyframes Parallax {
    to {
      transform: translateY(calc(var(--parallax-speed)*200px));
    }
}

.content{
    position: relative;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) 2fr minmax(0px, 1fr);
    grid-template-rows: 100px repeat(3,auto);
    margin: 0;
    background: #0C1416;
    min-height: 100vh;
    padding-top: 20px;
}

.welcome-nutrition{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background: transparent;
    font-size: 3rem;
}

.food-searcher-container{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding:50px 0;
}

.food-card-container{
    grid-column: 2;
    display:flex;
    justify-content: center;
    align-items: center;
}

.food-card{
    background: #FCFCF0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.food-card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #0C1416;
}

.food-card-header h3{
    font-size: 1.5rem;
    font-family: "Nova Mono", monospace;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.food-card-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.food-card-nutrients{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-searcher{
    width:70%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCF0;
    border-radius: 10px;
}

.food-searcher input{
    width: 95%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding:10px;
}

.food-searcher input:focus{
    outline: none;
}

.food-searcher button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    border: none;
    font-size: 1.2rem;
}


@keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}

.meal-plan-content{
    grid-column: 1/span 3;
    display:grid;
    align-self: start;
    grid-template-columns: minmax(0px, 1fr) 2fr minmax(0px, 1fr);
    grid-template-rows: auto;
    height: 100%;
    margin: 0;
    background-color: #0C1416;
}

.meal-plan-maker{
    grid-column: 2;
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding:50px 0;
}

.meal-plan-maker h2{
    color: #FCFCF0;
    font-size: 2.5rem;
    font-family: "Nova Mono", monospace;
    font-weight: 800;
    font-style: normal;
    margin: 0;
    padding: 0;
}


#add-meal-type button{
    padding: 10px;
    border: none;
    color: #FCFCF0;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    margin:0;
}

#add-meal-type p{
    font-size: 1.5rem;
    margin:0;
}

#add-meal-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    color:#FCFCF0;
    background: #FCFCF099;
}
